// main colors
$background: #10151D;
$gray: #BED5E9;
$gray-text: #808c9c;
$violet: #a87ffb;
$black: #10151d;
$green: #17B877;
$orange: #FFC26E;
$dark-blue: #161E29;
$dark-gray: #333E4F;

//font
$google: 'Noto Sans Display', sans-serif;