---
import type { EducationItem } from "../types/types";
interface Props extends EducationItem {};
const { title, career, location, date } = Astro.props;
---

<div class="experience-card">
  <div class="card-meta-info">
    <div class="flex-info-left">
      <h4>{title}</h4>
      <span>{career}</span>
    </div>
    <div class="flex-info-right">
      <span>{location}</span>
      <span>{date}</span>
    </div>
  </div>
</div>

<style lang="scss" >
  @import '../styles/_variables.scss';
  .experience-card {
    box-shadow: 0 0 0 2px #80D6FA, 8px 8px 0 0 #80D6FA;
    border-radius: 15px;
    padding: 1.5rem;
    color: $violet;
    background-image: radial-gradient(circle, #192944, #17243a, #141f30, #121a26, #10151d);
    //background-color: #ECF3FE;
    font-size: 1.3rem;

    .card-meta-info {
      display: flex;
      justify-content: space-between;
      .flex-info-left {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        h4 {
          color: $blue;
        }
        span {
          font-size: 1.2rem;
          color: $orange;
        }
      }
      .flex-info-right {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: .5rem;
        &:nth-child(2) {
          color: $blue;
          font-size: 1rem;
          font-style: italic;
        }
      }
    }
  }
</style>