---
import EducationView from "./EducationView.astro";
import EducationItem from "./EducationItem.astro";
import educationItems from "../data/EducationItems";
---

<section class="container" id="education">
  <div class="experience-card">
    <div class="exp-header">
      <img src="/assets/icons/educationv2.svg" alt="">
      <h2>Education</h2>
    </div>
    <EducationView>
      {
        educationItems.map(item => <EducationItem {...item} />)
      }
    </EducationView>
  </div>
</section>

<style lang="scss" scoped>
  @import '../styles/_variables.scss';
  #education {
    margin-top: 8rem;
    color: $gray;
    
    .exp-header {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 2rem;
      img {
        width: 15%;
        transition: filter 0.5s ease;
        &:hover {
          filter: grayscale(0%);
        }
      }
      h2 {
        font-weight: 700;
        color: $black;
        font-size: 3.5rem;
      }
      p {
        color: $gray-text;
        padding-left: 3.3%;
        font-size: 1.2rem;
      }
    }
    .experience-card {
      margin: 0 auto;
      width: 67%;
    }
    .arrow-down-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 8rem;
      a {
        #arrow-down {
          width: 90px;
          height: 90px;
        }
      } 
    }
  }

  @media only screen and (max-width: 600px) {
    #education {
      .exp-header {
        img {
          width: 35%;
        }
      }
      .experience-card {
        width: 100%;
      }
    }
  }
</style>