---
import type { EducationItem } from "../types/types";
interface Props extends EducationItem {};
const { title, career, location, date } = Astro.props;
---

<div class="experience-card">
  <div class="card-meta-info">
    <div class="flex-info-left">
      <h4>{title}</h4>
      <div>
        <span>{location}</span>
        <span>{date}</span>
      </div>
    </div>
    <div class="flex-info-right">
      <span>{career}</span>
    </div>
  </div>
</div>

<style lang="scss" >
  @import '../styles/_variables.scss';
  .experience-card {
    border: 1px solid $black;
    border-radius: 15px;
    color: $black;
    font-size: 1.3rem;

    .card-meta-info {
      .flex-info-left {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid $black;
        padding: 1.5rem;
        h4 {
          color: $black;
        }
        span {
          font-size: 1.2rem;
        }
      }
      .flex-info-right {
        span {
          font-size: 1.2rem;
        }
        &:nth-child(2) {
          color: $black;
          font-size: 1rem;
          padding: 1rem;
          font-style: italic;
        }
      }
    }
    .card-description {
      color: $black;
      ul > li {
        line-height: 2rem;
      }
    }
  }
</style>