---
import ExperienceView from "./ExperienceView.astro";
import ExperienceItem from "./ExperienceItem.astro";
import expItems from "../data/expItems";
---

<section class="container" id="experience">
  <div class="experience-card">
    <div class="exp-header">
      <img id="experience-img" src="/assets/icons/rocket-exp.svg" alt="">
      <div>
        <h2>Experience</h2>
        <p>My real experience.</p>
      </div>
    </div>
    <ExperienceView>
      {
        expItems.map(item => <ExperienceItem {...item} />)
      }
    </ExperienceView>
  </div>
  <div class="arrow-down-container">
    <a href="#education">
      <img id="arrow-down" src="/assets/icons/arrow-down.svg" alt="Arrow down icon">
    </a>
  </div>
</section>

<style lang="scss" scoped>
  @import '../styles/_variables.scss';
  #experience {
    margin-top: 8rem;
    color: $gray;
    .exp-header {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row-reverse;
      gap: 2rem;
      margin-bottom: 4rem;
      img {
        width: 10%;
        filter: drop-shadow(5px 5px 5px #253141);
        filter: grayscale(100%);
        transition: filter 0.5s ease;
        &:hover {
          filter: grayscale(0%);
        }
      }
      h2 {
        font-weight: 700;
        color: $black;
        font-size: 3.5rem;
      }
      p {
        color: $gray-text;
        padding-left: 3.3%;
        font-size: 1.2rem;
      }
    }
    .experience-card {
      margin: 0 auto;
      width: 67%;
    }
    .arrow-down-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 8rem;
      a {
        #arrow-down {
          width: 90px;
          height: 90px;
        }
      } 
    }
  }

  @media only screen and (max-width: 600px) {
    #experience {
      .exp-header {
        h2 {
          font-size: 3rem;
        }
        img {
          width: 15%;
        }
      }
      .experience-card {
        width: 100%;
      }
    }
  }
</style>