---
import ExperienceView from "./ExperienceView.astro";
import ExperienceItem from "./ExperienceItem.astro";
import expItems from "../data/ExpItems";
---

<section class="container" id="experience">
  <div class="experience-card">
    <div class="exp-header">
      <img src="/assets/icons/rocket-exp.svg" alt="">
      <h2>Experience</h2>
    </div>
    <ExperienceView>
      {
        expItems.map(item => <ExperienceItem {...item} />)
      }
    </ExperienceView>
  </div>
  <div class="arrow-down-container">
    <a href="#education">
      <img id="arrow-down" src="/assets/icons/arrow-down.svg" alt="Arrow down icon">
    </a>
  </div>
</section>

<style lang="scss" scoped>
  @import '../styles/_variables.scss';
  #experience {
    margin-top: 8rem;
    color: $gray;
    
    .exp-header {
      background-image: radial-gradient(circle, #192944, #17243a, #141f30, #121a26, #10151d);
      display: flex;
      align-items: center;
      border: 1px solid #302f41;
      border-radius: 8px;
      margin-bottom: 2rem;
      img {
        width: 60%;
      }
      h2 {
        font-weight: 400;
        color: white;
        text-transform: uppercase;
        font-size: 3.5rem;
        text-shadow: 0 0 5px #FFC26E, 0 0 10px #FFC26E, 0 0 20px #FFC26E, 0 0 30px #FFC26E;
      }
    }
    .experience-card {
      margin: 0 auto;
      width: 67%;
    }
    .arrow-down-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 8rem;
      a {
        #arrow-down {
          width: 90px;
          height: 90px;
        }
      } 
    }
  }
</style>