<footer id="footer" class="container">
  <div class="footer">
    <p>Thank for your time</p>
  </div>
  <div class="up-button">
    <a href="#header"><i class="fa-solid fa-chevron-up"></i></a>
  </div>
</footer>

<style lang="scss" scoped>
  @import '../styles/_variables.scss';
  #footer {
    margin-bottom: 8rem;
    .footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      color: $black;
      margin-bottom: 8rem;
      p {
        text-align: center;
        font-weight: 900;
        font-size: 4rem;
        text-transform: uppercase;
      }
    }
    .up-button {
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        background-color: $black;
        color: #fbf5eb;
        padding: 1.4rem 2rem;
        border-radius: 99px;
        font-size: 1.1rem;
        font-weight: 600;
      }
    }
  }
</style>