<main class="container">
  <h1>
    <span class="major">&lt;</span>
    Diego Salinas
    <span class="slash">&sol;</span>
    <span class="minus">&gt;</span>
  </h1>
  <p class="rol">Frontend dev</p>
</main>

<style lang="scss" scoped>
  @import '../styles/_variables.scss';
  main {
    z-index: 1;
    h1 {
      margin: 2rem 0 0 0;
      color: $gray;
      letter-spacing: 5px;
      font-size: 4rem;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      span {
        color: $green;
      }
      .major {
        font-size: 6rem;
        font-weight: 400;
      }
      .minus {
        margin-left: -2rem;
        font-size: 6rem;
        font-weight: 400;
      }
      .slash {
        font-size: 5rem;
        font-weight: 400;
      }
    }
    .rol {
      text-align: center;
      color: $gray;
    }
  }
</style>