<header class="container">
  <nav>
    <a href="#">Download CV <span>↯</span></a>
  </nav>
</header>

<style lang="scss" scoped>
  @import '../styles/_variables.scss';
  header {
    nav {
      display: flex;
      justify-content: end;
      margin: 2.5rem 0 0 0;
      a {
        background-color: $violet;
        text-decoration: none;
        color: $black;
        padding: .875rem 1.5rem;
        border-radius: 99px;
        font-size: 1.1rem;
      }
    }
  }
</style> 